header{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
}

.counter{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    font-weight: bold;
    margin-bottom: 20px;
}

.result{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: purple;
    font-weight: bold;
    margin-bottom: 20px;
}

.field{
    display: grid;
    grid-template-columns: repeat(8, 40px);
}

button{
    height: 40px;
    font-size: 24px;
    padding: 0;
}

.btnNewGame{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 30px;
    background-color: green;
}

.flag {
    background: url('../img/flag.png') no-repeat center;
}